<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Sitio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form [formGroup]="form" (submit)="onSubmit()" action="">
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el nombre" formControlName="datNombre" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el apellido" formControlName="datApellido" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="tel" placeholder="Ingresa la edad" formControlName="datEdad" required>
      </ion-input>

    </ion-item>
    <ion-item>
      
      <ion-input type="text" placeholder="Ingresa el deporte" formControlName="datDeporte" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa URL imagen" formControlName="datImagen" required>
      </ion-input>

    </ion-item>

    <ion-button type="submit" [disabled]="form.invalid">Crear</ion-button>
  </form>

</ion-content>
