<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Sitio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form [formGroup]="form" (submit)="onSubmit()" action="">
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el nombre del sitio" formControlName="nombre_sitio" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el horario" formControlName="horario_sitio" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="tel" placeholder="Ingresa un número de información" formControlName="num_informacion" required>
      </ion-input>

    </ion-item>
    <ion-item>
      
      <ion-input type="text" placeholder="Ingresa la dirección" formControlName="direccion_sitio" required>
      </ion-input>

    </ion-item>
    <ion-item>
      
      <ion-input type="text" placeholder="Ingresa el barrio" formControlName="barrio_sitio" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa URL imagen" formControlName="imagen_sitio" required>
      </ion-input>

    </ion-item>

    <ion-button type="submit" [disabled]="form.invalid">Crear</ion-button>
  </form>

</ion-content>
