<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>insertDatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-alert
  trigger="present-alert"
  header="Select your favorite color"
  [buttons]="alertButtons"
  [inputs]="alertInputs"
  ></ion-alert>

  <div *ngIf="isUpdate">
  <form [formGroup]="form" (submit)="onSubmit()" action="">
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el nombre" formControlName="datNombre" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el apellido" formControlName="datApellido" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="tel" placeholder="Ingresa la edad" formControlName="datEdad" required>
      </ion-input>

    </ion-item>
    <ion-item>
      
      <ion-input type="text" placeholder="Ingresa el deporte" formControlName="datDeporte" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa URL imagen" formControlName="datImagen" required>
      </ion-input>

    </ion-item>

    <ion-button type="submit" [disabled]="form.invalid">{{isUpdate? 'Actualizar': 'Crear'}}</ion-button>
  </form>
  </div>

  <div *ngIf="isUpdatep">
  <form [formGroup]="formp" (submit)="onSubmit()" action="">
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el nombre" formControlName="nombre_parque" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa la direccion" formControlName="direccion_parque" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el barrio" formControlName="barrio_parque" required>
      </ion-input>

    </ion-item>
    <ion-item>
      
      <ion-input type="text" placeholder="Ingresa el deporte" formControlName="deportes_parque" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa URL imagen" formControlName="foto_parque" required>
      </ion-input>

    </ion-item>

    <ion-button type="submit" [disabled]="formp.invalid">{{isUpdatep? 'Actualizar': 'Crear'}}</ion-button>
  </form>
  </div>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">insertDatos</ion-title>
    </ion-toolbar>
  </ion-header> -->

</ion-content>
