<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualizar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="isUpdate">
  <form [formGroup]="form" (submit)="onSubmit()" action="">
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el nombre del sitio" formControlName="nombre_sitio" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el horario" formControlName="horario_sitio" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="tel" placeholder="Ingresa un número de información" formControlName="num_informacion" required>
      </ion-input>

    </ion-item>
    <ion-item>
      
      <ion-input type="text" placeholder="Ingresa la dirección" formControlName="direccion_sitio" required>
      </ion-input>

    </ion-item>
    <ion-item>
      
      <ion-input type="text" placeholder="Ingresa el barrio" formControlName="barrio_sitio" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa URL imagen" formControlName="imagen_sitio" required>
      </ion-input>

    </ion-item>

    <ion-button type="submit" [disabled]="form.invalid">Actualizar</ion-button>
  </form>
  </div>

  <div *ngIf="isUpdatep">
  <form [formGroup]="formp" (submit)="onSubmit()" action="">
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el nombre del parque" formControlName="nombre_parque" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa la direccion" formControlName="direccion_parque" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el barrio" formControlName="barrio_parque" required>
      </ion-input>

    </ion-item>
    <ion-item>
      
      <ion-input type="text" placeholder="Ingresa los deportes que se pueden realizar" formControlName="deportes_parque" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa URL imagen" formControlName="foto_parque" required>
      </ion-input>

    </ion-item>

    <ion-button type="submit" [disabled]="formp.invalid">Actualizar</ion-button>
  </form>
  </div>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">insertDatos</ion-title>
    </ion-toolbar>
  </ion-header> -->

</ion-content>
