<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>insertDatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form action="">
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el nombre" formControlName="datNombre" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa el apellido" formControlName="datapellido" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="number" placeholder="Ingresa la edad" formControlName="datEdad" required>
      </ion-input>

    </ion-item>
    <ion-item>
      
      <ion-input type="text" placeholder="Ingresa el deporte" formControlName="datDeporte" required>
      </ion-input>

    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresa URL imagen" formControlName="datImagen" required>
      </ion-input>

    </ion-item>

    <ion-button type="submit"></ion-button>
  </form>


  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">insertDatos</ion-title>
    </ion-toolbar>
  </ion-header> -->

</ion-content>
