<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button style="--background: #1C9852;">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button style="--background: #1C9852;" (click)="insertP()">
        <ion-icon name="leaf" style="color: white"></ion-icon>
      </ion-fab-button>
      <ion-fab-button style="--background: #1C9852;">
        <ion-icon name="football" style="color: white" (click)="insertD()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div *ngIf="mostrarSitios">
    
  <ion-card *ngFor="let sitio of datos; let i = index">

    <img alt="Silhouette of mountains" src="{{sitio.imagen_sitio}}" />

    <ion-card-header>
      <ion-card-title>{{sitio.nombre_sitio}}
        <ion-icon color="success" name="create" (click)="updateDatos(sitio)"></ion-icon>
      <ion-icon color="danger" name="trash" (click)="removeDatos(sitio.id_sitio)"></ion-icon>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <strong>Horario: </strong>{{sitio.horario_sitio}}
      <br>
      <strong>Número de información: </strong>{{sitio.num_informacion}}
      <br>
      <strong>Dirección: </strong>{{sitio.direccion_sitio}}
      <br>
      <strong>Barrio: </strong>{{sitio.barrio_sitio}}
    </ion-card-content>

  </ion-card>
  </div>

  <div *ngIf="mostrarParques">
  <ion-card *ngFor="let parque of parques; let i = index">

    <img alt="{{parque.nombre_parque}}" src="{{parque.foto_parque}}" />

    <ion-card-header>
      <ion-card-title>{{parque.nombre_parque}}
        <ion-icon color="success" name="create" (click)="updateParques(parque)"></ion-icon>
        <ion-icon color="danger" name="trash" (click)="removeParques(parque.id_parque)"></ion-icon>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <strong>Deportes: </strong>{{parque.deportes_parque}}
      <br>
      <strong>Dirección: </strong>{{parque.direccion_parque}}
      <br>
      <strong>Barrio: </strong>{{parque.barrio_parque}}
      
    </ion-card-content>

  </ion-card>
  </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button style="--background: #1C9852;">
        <ion-icon name="funnel"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button style="--background: #1C9852;" (click)="mostrarParques = true; mostrarSitios = false;">
          <ion-icon name="leaf" style="color: white"></ion-icon>
        </ion-fab-button>
        <ion-fab-button style="--background: #1C9852;" (click)="mostrarSitios = true; mostrarParques = false;">
          <ion-icon name="football" style="color: white"></ion-icon>
        </ion-fab-button>
        <ion-fab-button style="--background: #1C9852;" (click)="limpiarFiltro()">
          <ion-icon name="ban" style="color: white"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
