<ion-header [translucent]="true">
  <ion-toolbar style="--background: #1C9852;">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Escribe un mensaje..."></ion-input>
    <ion-fab-button slot="end" size="small">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-footer>
